/* Nick Joyce
September 18, 2008
BeansNew.htm */

body {
font-size: 14pt;
Font-family: arial,sans-serif;
color: #FFFFFF;
background-color: #000000; }

.center {
text-align: center; }

p {
text-align: center; }

strong {
color: #000080;
background-color: #FFA500; }

.special {
font-size: 16pt;
color: #FFFFFF;
background-color: #008000; }