/* Nick Joyce
September 18, 2008
PowerNew.htm */

body {
font-size: 12pt;
font-family: arial,sans-serif;
color: black;
background-color: linen; }

.spread {
letter-spacing: .3em;
word-spacing: .3em;
margin: 0; }

.dropcap:first-letter {
font-size: 36pt;
font-weight: 900;
right-margin: 2px;
color: green;
background-color: linen; }

p.contact:first-line {
font-size: 13pt;
font-weight: 900;
color: green; }

ul {
font-size: 14pt; 
color: brown; }

strong {
color: green; }

