/* This is a print style sheet. The AmericaNew HTML file links to this stylesheet. */

/* Nick Joyce
October 17, 2008 */

body, #sidebar, #main, #footer, #banner, p, h1, h2, h3 {
font-size: 12pt;
font-family: 'times new roman', times, serif;
color: black;
background-color: white; }

#salebox {
display: none; }

#sidebar {
float: none; width: auto; }

img {
display: none; }

body {
margin: 3em; }