/* Print styles for Harper's Hair for There */

/* Nick Joyce
October 23, 2008 */

body, #main, h1, h2 {
font: 12pt Times New Roman,serif;
color: black;
background-color: white;
float: none;
width: auto; }

#coupon {
font: 16pt Comic Sans MS,sans-serif;
color: black;
background-color: white;
float: none;
width: 40%;
border: navy dashed thick;
text-align: center; }

img {
display: none; }