body {
	position: relative;
	top: 0px;
	left: 0px;
}
#BG1 {
	position: relative;
	background-color: gray;
	height: 15%;
	width: 100%;
}
#Adventure {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 18pt;
}
.image {
	width: 256px;
	height: 256px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	-webkit-mask-image: url(Mask2.png);
	-webkit-mask-position: center center;
	-webkit-mask-size: 5%;
	-webkit-mask-repeat: no-repeat;
}
.image img {
	height: 256px;
	left: -36%;
	position: absolute;
}